azure_subscription_id = "00000000-0000-0000-0000-000000000000" # TODO(deploy): global/connectivity subscription GUID
subscription_code     = "conn"
environment           = "prd" # TDA §4 uses prd for production-tier global resources
location              = "uksouth"

mandatory_tags = {
  costCentre             = "CLL411S1XJ"
  securityClassification = "Limited"
  resourceOwner          = "Fletcher, Wayne (Colleague ID 0028929)"
  CMDB_AppID             = "AL17611"
}
